html {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    height: 100vh;
    width: 100vw;
}

@media only screen and (max-width: 768px) {
    section {
        width: 90vw;
        margin: 1rem auto;
        padding: 1rem 1.5rem;
        height: 95vh;
        padding: 2rem;
        background: rgb(255, 255, 255);
        /* Old browsers */
        background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 6%, rgba(241, 243, 246, 1) 73%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f1f3f6', GradientType=0);
        /* IE6-9 */
        -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
        -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
        box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
    }
    nav {
        background-color: transparent !important;
        box-shadow: none !important;
    }
    nav i {
        color: #272727;
    }
    h2 {
        margin-top: 1rem !important;
        font-size: 2rem !important;
        color: rgb(28, 5, 44);
        font-weight: 700;
    }
    h3 {
        font-size: 1.5rem !important;
    }
    .student-form {
        width: 100%;
    }
    .student-form input {
        width: 90%;
        margin: 0 auto;
    }
    .sidenav-overlay {
        opacity: 0 !important;
    }
    #english-certificate .english-btn {
        border-radius: 25px;
        width: 60%;
        line-height: 1.8rem;
    }
    #english-certificate div {
        margin-top: 5rem;
    }
    .student-form div,
    #english-section div,
    #english-certificate div,
    .calendly-btn-container,
    #login-section div {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        align-items: center;
    }
    .student-form button,
    .calendly-btn,
    #login-section button {
        background-color: #311b92 !important;
        height: 3rem !important;
        border-radius: 20rem !important;
        margin: 1rem auto;
        padding: 0 1rem;
        width: 13rem;
        border: none;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
        font-size: 1.2rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
    }
    .calendly-btn {
        transition: all 0.5s;
        animation-name: calendly;
        animation-delay: 20s;
        animation-duration: 3s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-direction: normal;
    }
    @keyframes calendly {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    .english-btn {
        min-width: 80% !important;
        height: auto !important;
        margin: 1rem 0;
        background-color: #311b92 !important;
        border-radius: 2rem;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.48);
    }
    #question {
        margin: 3rem 0 1rem 10rem;
        width: 3rem;
        height: 3rem;
        font-size: 1.5rem;
        border: solid 2px #05b5bf;
        color: #05b5bf;
        font-weight: 700;
        background-color: transparent;
        border-radius: 1.5rem;
    }
    #user {
        color: black;
        display: flex;
        justify-content: space-around;
        height: 4rem;
        margin-top: 1rem;
    }
    #user-photo {
        margin: 1rem 0;
        width: 3rem;
    }
    #user-photo img {
        width: 3rem;
    }
    li.waves-effect {
        width: 100%;
    }
    #login-section figure {
        width: 50vw;
        margin: 5vh auto;
    }
    #login-section img {
        width: 100%;
    }
    .student-form p {
        margin-bottom: 0;
    }
}